.section {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 32px;

    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

.icon {
  margin-bottom: 16px;
  width: 22px;
  height: 22px;
}

.docs {
  border-right: 1px solid var(--border);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}

.social {
  @media (prefers-color-scheme: dark) {
    .linkIcon {
      filter: invert(1) brightness(2);
    }
  }
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;

  a {
    color: var(--text-h);
    font-size: 16px;
    border-radius: 6px;
    background: var(--social-bg);
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--shadow);
    }
  }

  @media (max-width: 1024px) {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 8px);
    }

    a {
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}

.linkIcon {
  height: 18px;
}

svg.linkIcon {
  width: 18px;
}
